---
import { AppConfig } from '@/utils/AppConfig'
import Base from '@/layouts/Base.astro'
import PostHeader from '@/components/PostHeader.astro'
import PostContent from '@/components/PostContent.astro'

const { description } = AppConfig

const { frontmatter } = Astro.props
---

<Base head={{ title: frontmatter.title, description }}>
	<div class="mx-auto w-full max-w-screen-md">
		<PostHeader
			title={frontmatter.title}
			author={frontmatter.author}
			tags={frontmatter.tags}
			minutesRead={frontmatter.minutesRead}
			pubDate={frontmatter.pubDate}
			img={{ src: frontmatter.image.src, alt: frontmatter.image.alt }}
		/>
		<PostContent><slot /></PostContent>
		<div id="comment">
			<script>
				const getTheme = () => localStorage.getItem("dark-mode") === "true" ? "dark" : "light"
				document.addEventListener("DOMContentLoaded", () => {
					const giscusAttributes = {
						"src": "https://giscus.app/client.js",
						"data-repo": "ztkuaikuai/blog",
						"data-repo-id": "R_kgDOMOQBZQ",
						"data-category": "General",
						"data-category-id": "DIC_kwDOMOQBZc4ChGgl",
						"data-mapping": "title",
						"data-strict": "0",
						"data-reactions-enabled": "1",
						"data-emit-metadata": "0",
						"data-input-position": "top",
						"data-theme": getTheme(),
						"data-lang": "zh-CN",
						"data-loading": "lazy",
						"crossorigin": "anonymous",
						"async": ""
					}

					// 动态创建script标签
					const giscusScript = document.createElement("script")
					Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value))
					document.getElementById("comment")?.appendChild(giscusScript)
				})
			</script>
		</div>
		<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.11.6/viewer.min.css">
		<script src="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.11.6/viewer.min.js" defer></script>
		<script type="module">
			const imgs = document.querySelectorAll("img")
			imgs.forEach(item => {
				new Viewer(item, {
					button: false,
					navbar: false,
					title: false,
					toolbar: {
						zoomIn: 4,
						zoomOut: 4,
						oneToOne: 4,
						reset: 0,
						prev: 0,
						play: 0,
						next: 0,
						rotateLeft: 4,
						rotateRight: 4,
						flipHorizontal: 0,
						flipVertical: 0
					},
				})
			})
		</script>
	</div>
</Base>
